<span class="logo-lightsaber logo-lightsaber--{{ color|default:'red' }}{% if facing == 'left' %} logo-lightsaber--left{% endif %}" aria-hidden="true">
    <span class="logo-lightsaber__stage">
        <span class="logo-lightsaber__blade">
            <span class="logo-lightsaber__sparks">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </span>
        </span>
        <span class="logo-lightsaber__generator">
            <span class="logo-lightsaber__guard">
                <span></span><span></span><span></span><span></span><span></span>
            </span>
            <span class="logo-lightsaber__handlestart">
                <span></span><span></span>
            </span>
            <span class="logo-lightsaber__handle">
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span></span><span></span>
                <span class="logo-lightsaber__long"></span>
                <span class="logo-lightsaber__long"></span>
                <span class="logo-lightsaber__box"></span>
            </span>
            <span class="logo-lightsaber__wings">
                <span class="logo-lightsaber__wing logo-lightsaber__wing--1"></span>
                <span class="logo-lightsaber__wing logo-lightsaber__wing--2"></span>
                <span class="logo-lightsaber__wing logo-lightsaber__wing--3"></span>
            </span>
            <span class="logo-lightsaber__glow"></span>
        </span>
    </span>
</span>
